.Search > input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  max-width: 475px;
  min-width: 287px;
  font-size: 16px;
  &:focus {
    outline: none;
    border-color: #3eb54e;
  }
}