.Home {
  .testNameGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    flex-wrap: wrap;

    > div {
      margin: 10px 10px;
      background: #45BF55;
      color: white;
      min-width: 160px;
      border-radius: 10px;
      padding: 16px;

      h3 {
        font-size: 30px;
      }
      button {
        background: #ffffff3d;
        color: #fff;
        border: none;
        font-size: 19px;
        border-radius: 5px;
        margin: 0 5px;
        padding: 5px 15px;
        font-weight: unset;

        &:hover {
          background: white;
          color: #45BF55;
        }
      }
    }
  }
}