.Standardise {

  h1, h2, h4 {
    margin: 0;
  }

  .tipBox {
    background: #efefef;
    width: 230px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    p {
      margin: 5px;
    }
  }
  table {
    margin: 20px auto;
    border-spacing: 0;
    border-top: black 1px solid;
    border-left: black 1px solid;

    thead {
      
      background: #3eb54e;
      color: white;
    }
    tbody {
      background: white;
    }
    td {
      padding: 10px 20px;
      border-right: black 1px solid;
      border-bottom: black 1px solid;
    }
  }
}